.header-top{
    @include transition;
    .white-clr{
        &:hover{
            color: #fff;
        }
    }
    &:hover{
        background: $gray-100;
    }
}

// header main
.header-section{
    padding: 10px 0;
    .header-main{
        display: flex;
        align-items: center;
        justify-content: space-between;
        .nav{
            ul{
                li{
                    display: inline-block;
                    margin-left: 30px;
                    a{
                        font-size: 18px;
                        font-family: $body-font;
                        color: $black-color;
                        transform: .5s;
                        &:hover{
                            color: $primary-color;
                        }
                    }
                }
            }
        }
    }
}


#sticky-header{
    left: 0;
    margin: auto;
    position: fixed !important;
    top: 0;
    width: 100%;
    transition: 0.5s;
    z-index: 9;
    background-color: #fff;
    box-shadow: 0 2px 5px -2px rgb(0 0 0 / 10%);
}



.slider-btn{
    a{
        padding: 8px 25px;
        background: $primary-color;
        border-radius: 20px;
        transition: .5s;
        display: inline-block;
        color: $white;
        &:hover{
            background: $gray-100;
        }
    }
}


